.git
.github
Java/Shapes/Sphere.class
Java/Shapes/Cylinder.class
Java/Shapes/Cuboid.class
Java/Shapes/Cube.class
Java/Shapes/ShapeExec.class
Java/Shapes/ThreeD.class
Java/Shapes/newSphere.class 
Java/Shapes/newCylinder.class 
Java/Shapes/newCuboid.class
Java/Shapes/newCube.class 
C#/PrimeNumber.exe
Java/PrimeNumbers.java
